<%= render 'shared/page_title', title: "All Recipes" %>

 <%= will_paginate%>
<% @recipes.each do |recipe| %>
    
<% if false %>
      <div class="card" style="width: 18rem;">
        <%= gravatar_for recipe.chef, size: 70, class:"card-img-top"  %>
        <div class="card-body">
          <h5 class="card-title">Chef name: <%= recipe.chef.chefname %> </h5>
          <p class="card-text"> <%= recipe.summary %> </p>
          <a><%= link_to recipe.name, recipe_path(recipe), class:"btn btn-primary" %></a>
          <p><span class='quiet'><small> <%= time_ago_in_words(recipe.created_at) %> </small></span></p>
        </div>
      </div>
<% end %>

<div class="row" >
  <div class="col-md-10">
  <div class="card text-center pt-10 ">
    <div class="card-header">
    Chef name: <%= recipe.chef.chefname %>
    </div>
    <div class="card-body">
      <h5 class="card-title"> <%= recipe.name.upcase %> </h5>
      <%= gravatar_for recipe.chef, size: 100, class:"card-img-top"  %>
      <p class="card-text"> <%= recipe.summary %> </p>
      <a><%= link_to recipe.name.titleize, recipe_path(recipe), class:"btn btn-primary" %></a>
    </div>
    <div class="pull-right">
      <%= link_to like_recipe_path(recipe, like: true), method: :post  do %>
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> &nbsp <%= recipe.thumbs_up_total%>
      <% end %> &nbsp&nbsp

      <%= link_to like_recipe_path(recipe, like: false), method: :post  do %>
          <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>&nbsp <%= recipe.thumbs_down_total %>
      <% end %>
     </div>
    <div class="card-footer text-muted mb-30 pb-30">
        <small> Created: <%= time_ago_in_words(recipe.created_at) %> ago, </small>
        <small> Updated: <%= time_ago_in_words(recipe.updated_at) %> ago </small>
    </div>
    </div>
  </div>
  <div class="col-md-2 resize-recipe center">
       <%= image_tag(recipe.picture.url, size: " ", class: " ") if recipe.picture?  %>
        <small> <%= recipe.name.capitalize %> </small>
  </div>
</div> 
 
<br>
<% end %>

<%= will_paginate %>